/server/vendor
/server/node_modules
/server/public/build
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/storage/pail
/server/.env
/server/.env.backup
/server/.env.production
/server/.phpunit.result.cache
/server/auth.json
/server/deploy/deploy.env
/mobile/build
/mobile/.dart_tool
/mobile/.flutter-plugins-dependencies
/mobile/.gradle
/mobile/android/.gradle
/mobile/android/.kotlin
/mobile/android/local.properties
/mobile/android/key.properties
/mobile/**/*.jks
/mobile/**/*.keystore
/mobile/dart_define.json
/mobile/dart_define.production.json
/mobile/*.iml
/mobile/android/*.iml
.DS_Store
*.log
